/* CSS Document */

.dark_grey_bg {
	background : #262626;
}

#search_box_main {
	border : 1px solid #4e739d;
	height : 100%;
	margin-top : 25px;
	text-align : center;
	border-radius : 3px;
    width: 1000px ;
    margin-left: auto ;
    margin-right: auto ;
}

.vid {
    text-align: center;
    margin: 10px;
    float: left;
}

#main {
    width: 100%;
    height: 100%;
    
}

.newsleftcol {
	float: right;
	margin-left: 30px;
	width: 238px;
	margin-top: 10px; 
}

.newsrightcol {
	float: left;
	width: 670px;
}

.newsleftcol .block {
	margin-bottom: 16px;
}

.newsleftcol .block .block_header {
	background-color:#292F35;
	background-image:url(http://cdn3.store.steampowered.com/public/images/v5/rightcol_bg_blue.png);
	background-repeat:no-repeat;
}

a.linkbar {
	background-image:url(http://cdn3.store.steampowered.com/public/images/v5/bg_link_bar_news.png);
	background-position: right center;
	padding-left: 4px;
	margin-right: 8px;
	width: 204px;
}

a.linkbar_active, a.linkbar_active:hover, a.linkbar_active:active, a.linkbar_active:visited {
	color: #000000;
	background-color: #aeadab;
	background-image: none;
	margin-left: 0px;
	width: 204px;
}

.page_title_area
{
	margin-bottom:0px;
}

div#main_content {
	padding-top: 6px;
}

#main_header {
	float: left;
	margin-bottom: 12px;
	margin-top: 6px;
}

#main_header_expanded {
	float: left;
	margin-bottom: 12px;
}

#main_pre_header {
	color: #D4D4D4;
	font-weight: bold;
	margin-bottom: 5px;
	margin-top: 0px;
}

#main_post_header {
	margin-top: 5px;
}


#main_post_header a {
	color: #D4D4D4;
}

#viewmodelinks {
	float: right;
	margin-top: 8px;
	margin-left: 50px;
	font-size: 10px;
	text-transform: uppercase; 
}


.view_inactive {
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

a.view_inactive, a.view_inactive:hover, a.view_inactive:active, a.view_inactive:visited {
	color: #cbcac5;
}

.view_active {
	background-color: #5178a4;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.block_content_inner
{
	padding-right: 8px;
}

.block_sub_region {
	margin-bottom: 12px;
}

.block_sub_region a {
	color: #B0AEAC;
}

.block_sub_region a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}

.block_sub_header {
	font-size: 11px;
	color: #666465;
	margin-bottom: 4px;
	text-transform: uppercase; 
}

.block_sub_header_channels {
	font-size: 11px;
	color: #666465;
	margin-bottom: 4px;
	text-transform: uppercase;
	margin-top: 14px; 	
}
	
div#news_search {
}

.searchbox_news {
	border: 1px solid #82807c;
	background-color: #4d4b49;
	color: #a6a5a2;
	height: 23px;
	padding-left: 4px;
	margin-right: 8px;
	z-index: 250;
}

.searchbox_news input {
	border: none;
	background-color: #4d4b49;
	color: #b0aeac;
	margin-top: 2px;
	white-space: nowrap;
	outline: none;
	width: 163px;
}

.searchbox_news input.default {
	font-style: italic;
}


.searchbox_news img {
	vertical-align: middle;
}

#main_content {
	height: 500px;
}

.newshr {
	height: 1px;
	width: 100%;
	background-color: #383838;
	clear: left;
}

.newsHeadlineBlock {
	margin-top: 6px;
}

.newsHeadlineBlock .feed { 
	text-align: right;
	float: right;
	color: #666465;
	width: 140px;
	overflow: hidden;
}

.newsHeadlineBlock .title a, .newsHeadlineBlock .title a:active, .newsHeadlineBlock .title a:visited {
	color: #d4d4d4;
	text-decoration: none;
	outline: none;
}

.newsHeadlineBlock .title {
	float: left;
	clear: left;
	margin-left: 0px;
	width: 440px;
	overflow: hidden;
	margin-bottom: 6px;
	font-weight: normal;
	font-size: 13px;
}

.newsHeadlineBlock .title:hover {
	color: #ffffff;
	text-decoration: underline;
}

.newsHeadlineBlock .date {
	float: left;
	margin-left: 15px;
	color: #666465;
}

.newsPostBlock {
	margin-top: 12px;
	margin-bottom: 12px;
	clear: left;
	vertical-align: top;
}

.newsPostBlock .feed {
	margin-top: 2px;
	clear: left;
	float: left;
	color: #666465;
	height: 14px;
}

.newsPostBlock .headline {
	margin-bottom: 1px;
}

.newsPostBlock .headline .date {
	margin-left: 15px;
	float: right;
	clear: right;
	color: #666465;
}

.newsPostBlock .headline .posttitle {
	float: left;
	font-weight: normal;
	font-size: 24px;
	width: 562px;
}

.newsPostBlock .headline .posttitle a, .newsPostBlock .headline .posttitle a:active, .newsPostBlock .headline .posttitle a:visited {
	color: #d4d4d4;
	text-decoration: none;
}

.newsPostBlock .headline .posttitle a:hover {
	text-decoration: underline;
}


.newsPostBlock .body {
	color: #BBBBBB;
	margin-top: 10px;
	line-height: 17px;
	clear: left;
	margin-bottom: 10px;
}

.body img {
	float: left;
	clear: left;
	margin-right: 12px;
	margin-bottom: 12px;
	border-style: none;
	width: 224px;
}

.share {
	color: #666465;
	margin-top: 5px;
	margin-bottom: 0px;
	float: left;
	font-size: 10px;
	text-transform: uppercase; 
	clear: both;
	line-height: 14px;
}

.share img {
	vertical-align: baseline;
}

.share a{
	color: #666465;
}

.newsPostBlock .body li {
	margin-left: 32px;
	margin-top:8px;
	list-style-image: url('http://cdn3.store.steampowered.com/public/images/v5/dash1.gif');
	color: #999999;
}


div.autocomplete {
	margin-top: 6px; 
	margin-left: -5px; 
	width: 202px;
}


.shacknews div.focalbox {
	background-color:none;
	border:1px solid #BBBBBB;
	margin:12px;
	margin-left:64px;
	margin-right:64px;
	padding:8px;
	text-align:center;
}

.shacknews .body p {
	margin-top: 17px;
} 

.shacknews div.focalbox img {
	background-color:red;
	border:none;
	float:none;
	line-height:0;
	margin:0 12px 0;
	padding:0;
}

.shacknews div.focalbox a {
	float:none;
	margin:0;
	padding:0;
}

.pcgamer .body img {
	float: none;
	width: auto;
	clear: both;	
}